<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kahyun.mapper.AdminMapper">

    <!-- 회원 리스트 -->
    <select id="getUsers">
        SELECT
            ROW_NUMBER() over(ORDER BY seq) AS rownum,
            seq,
            username,
            user_id,
            nickname,
            reg_date,
            status,
            auth
        FROM users
        WHERE auth != 'ADMIN'
    </select>

    <!-- 특정 회원 게시판 리스트 -->
    <select id="getUserBoard">
        select
            seq,
            title,
            content,
            nickname,
            create_dt,
            update_dt,
            view,
            ROW_NUMBER() over(ORDER BY seq) AS rownum,
            status,
            boardOption
        FROM board
        WHERE user_seq = #{seq}
    </select>

    <!-- 관리자 리스트 -->
    <select id="getAdmin">
        SELECT
            ROW_NUMBER() over(ORDER BY seq) AS rownum,
                seq,
            username,
            user_id,
            nickname,
            reg_date,
            status,
            auth
        FROM users
        WHERE auth = 'ADMIN'
    </select>

    <select id="getAdminSBoardList">
        SELECT  sb.* ,
                ROW_NUMBER() over(ORDER BY create_dt DESC) AS rownum,
                file.orgName,
                users.user_id
        FROM s_board sb
        INNER JOIN file AS file on sb.file = file.savedName
        INNER JOIN users AS users on sb.nickname = users.nickname
        ORDER BY create_dt DESC

    </select>

    <update id="changePublic">
        update s_board
        set accept_yn = 'Y'
        WHERE seq = #{seq}
    </update>

    <update id="changePrivate">
        update s_board
        set accept_yn = 'N'
        WHERE seq = #{seq}
    </update>
</mapper>