<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kahyun.mapper.BoardMapper">

    <!-- 게시판 리스트 -->
    <select id="selectBoard" parameterType="BoardVo" resultType="BoardVo">
        SELECT
            board.seq,
            board.title,
            board.content,
            users.nickname,
            board.create_dt,
            board.update_dt,
            board.boardOption,
            board.view,
            ROW_NUMBER() over(ORDER BY board.create_dt DESC) AS rownum,
            cc.comment_count
        FROM board AS board
                INNER JOIN users AS users ON users.seq = board.user_seq
                LEFT JOIN (
                        SELECT board.seq, COUNT(bc.seq) AS comment_count
                        FROM board_comment AS bc
                        INNER JOIN board AS board ON board.seq = bc.board_seq
                        WHERE bc.delete_yn = 'N'
                        GROUP BY board.seq
                        ORDER BY board.seq
                        ) AS cc ON cc.seq = board.seq
        WHERE board.delete_yn = 'N'
        ORDER BY board.create_dt DESC
    </select>

    <!-- 게시판 글 등록 -->
    <insert id="createBoard" parameterType="BoardVo">
        INSERT INTO board(
             title,
             content,
             create_dt,
             user_seq,
             boardOption
            )
            VALUES (
                #{title},
                #{content},
                CURRENT_TIME(),
                #{user_seq},
                #{boardOption}
            )
    </insert>

    <!-- 게시글 삭제 -->
    <update id="deleteBoard" parameterType="String">
        UPDATE board
        SET
            delete_yn = 'Y',
            delete_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>

    <!-- 게시글 상세 -->
    <select id="selectBoardBySeq" parameterType="BoardVo" resultType="BoardVo">
        SELECT *
        FROM board
        WHERE seq = #{seq}
    </select>

    <!-- 조회수 증가 -->
    <update id="upView" parameterType="BoardVo">
        UPDATE board
        SET
            view = view+1
        WHERE seq = #{seq}
    </update>

    <!-- 게시판 리스트 상단 공지사항 표시 -->
    <select id="selectBoardNotice" resultType="com.example.kahyun.vo.NoticeBoardVo">
        SELECT
            ROW_NUMBER() over(ORDER BY nb.importance, nb.update_dt DESC, nb.create_dt DESC) AS rownum,
                nb.*,
            users.nickname
        FROM notice_board AS nb
                 INNER JOIN users users ON users.seq = nb.user_seq
        WHERE nb.delete_yn = 'N' AND nb.board_yn = 'Y'
        ORDER BY nb.importance, nb.update_dt DESC, nb.create_dt DESC
    </select>

    <!-- 게시글 수정 -->
    <update id="editBoard">
        UPDATE board
        SET
            title = #{title},
            boardOption = #{boardOption},
            content = #{content},
            update_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>
</mapper>