<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kahyun.mapper.CommentMapper">

    <!-- 회원게시판 상세에서 댓글 -->
    <select id="selectBoardComment" parameterType="boardVo">
        SELECT bc.*,
               users.nickname
        FROM board_comment AS bc
        INNER JOIN users AS users ON users.seq = bc.user_seq
        WHERE bc.board_seq = #{seq}
            AND bc.delete_yn = 'N'
    </select>

    <!-- 회원게시판 댓글 등록 -->
    <insert id="createBoardComment" parameterType="CommentVo">
        INSERT INTO board_comment (
             user_seq,
             content,
             create_dt,
             board_seq
        ) VALUES (
             #{user_seq},
             #{content},
             CURRENT_TIME(),
             #{seq}
        )
    </insert>

    <!-- 회원게시판 댓글 수정 -->
    <update id="editBoardComment">
        UPDATE board_comment
        SET
            content = #{content},
            update_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>

    <!-- 회원게시판 댓글 삭제 -->
    <update id="deleteBoardComment">
        UPDATE board_comment
        SET
            delete_yn = 'Y',
            delete_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>

    <!-- 공지사항 상세에서 댓글 -->
    <select id="selectNoticeBoardComment" parameterType="NoticeBoardVo">
        SELECT nc.*,
               users.nickname
        FROM notice_comment AS nc
                 INNER JOIN users AS users ON users.seq = nc.user_seq
        WHERE nc.board_seq = #{seq}
          AND nc.delete_yn = 'N'
    </select>

    <!-- 공지사항 댓글 등록 -->
    <insert id="createNoticeBoardComment" parameterType="CommentVo">
        INSERT INTO notice_comment (
            user_seq,
            content,
            create_dt,
            board_seq
        ) VALUES (
                 #{user_seq},
                 #{content},
                 CURRENT_TIME(),
                 #{seq}
        )
    </insert>

    <!-- 공지사항 게시판 댓글 수정 -->
    <update id="editNoticeBoardComment" parameterType="CommentVo">
        UPDATE notice_comment
        SET
            content = #{content},
            update_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>

    <!-- 공지사항 게시판 댓글 삭제 -->
    <update id="deleteNoticeBoardComment">
        UPDATE notice_comment
        SET
            delete_yn = 'Y',
            delete_dt = CURRENT_TIME()
        WHERE seq = #{seq}
    </update>

</mapper>