<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kahyun.mapper.SBoardMapper">

    <insert id="createsBoard">
        INSERT INTO s_board
            (title, nickname, content, create_dt, user_seq, file, price)
        VALUES (#{title}, #{nickname}, #{content}, CURRENT_TIME(), #{user_seq}, #{file}, #{price})
    </insert>

    <insert id="createFile">
        INSERT INTO file
            (orgName, savedName, savedPath, create_dt)
        VALUES
            (
             #{orgName},
             #{savedName},
             #{savedPath},
             CURRENT_TIME()
            )
    </insert>

    <select id="getSBoardList">
        SELECT * ,
               ROW_NUMBER() over(ORDER BY seq) AS rownum
        FROM s_board
        WHERE status='N'
    </select>

    <select id="getFileList">
        SELECT
            * ,
            ROW_NUMBER() over(ORDER BY file.seq) AS rownum,
            sb.*
        FROM file file
        INNER JOIN kahyun.s_board sb ON file.savedName = sb.file
    </select>

    <select id="getDetailBoard">
        select *
        FROM s_board
        WHERE seq = #{seq}
    </select>

    <select id="getDetailFile">
        select file.*,
               sb.accept_yn
        FROM file
        INNER JOIN s_board sb ON file.savedName = sb.file
        WHERE file.savedName = #{savedName}
    </select>

    <select id="getMainSpecialBoardByDownload">
        SELECT * FROM (
        SELECT *,
               ROW_NUMBER() over(ORDER BY download_count desc) AS rownum
        FROM s_board
        WHERE accept_yn = 'Y'
        ORDER BY download_count desc) as sb
        WHERE 4 > sb.rownum
    </select>

    <select id="getMainSpecialBoardByCreate">
        SELECT * FROM (
        select *,
               ROW_NUMBER() over(ORDER BY create_dt desc) AS rownum
        FROM s_board
        WHERE accept_yn = 'Y'
        ORDER BY create_dt desc) as sb
        WHERE 4 > sb.rownum
    </select>


    <update id="downloadCount">
        update s_board set download_count = download_count+1 where file = #{file}

    </update>

</mapper>